body{
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(/bk-git/web_cnpm/web_ttcnpm/images/bk-bgr.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;

}
.login-page{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.form{
    position: relative;
    z-index: 1;
    background: rgba(101, 232, 255, 0.4);
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
}
.form input{
    font-family: sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;

}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -80px;
    left: 130px;
    
}
.form button{
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #4CAF50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
}
a:link{
    color: rgb(23, 255, 128);
    background-color: none;
    text-decoration: none;
}